<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= id %></title>
</head>
<body>
        <% if (id % 2 == 0) { %>
         <p>Even number</p>
        <% } else {%>
            <p>Odd number</p>
        <% } %>
         
</body>
</html>